.father{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
gap: 15px;

    
}
.childerns{
    color: white;
    background-color: orange;
     padding: 20px;
    text-align: center;
    font-weight: bold;
}
.child-1{
 grid-column:1/13 ;
 width: 100%;

}
.child-2{
    grid-column: 1/8;
     
}
.child-3{

    grid-column: 8/14;
}
.child-4{
    grid-column: 1/5;
}
.child-5{
    grid-column: 5/9;
}
.child-6{
    grid-column:9/13 ;
}