/* box no1 start */
.father {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(6, 1fr);    
    gap: 15px;
}

.childerns {
    color: white;
    background-color: gold;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}


.child-1 {
    grid-column: 1 / 13; 
}


.child-2 {
    grid-column: 1 / 7;  
}

.child-3 {
    grid-column: 7 / 13;
}


.child-4{
    grid-column: 1/5;
}
.child-5{
    grid-column: 5/9;
}
.child-6{
    grid-column:9/13 ;
} 
.child-7{
    grid-column: 1/4;
}
.child-8{
    grid-column: 4/7;
}
.child-9{
    grid-column: 7/10;
}.child-10{
    grid-column: 10/13;
}
.child-11{
    grid-column: 1/3;
}
.child-12{
    grid-column: 3/5;
}
.child-13{
    grid-column: 5/7;
}
.child-14{
    grid-column: 7/9;
}
.child-15{
    grid-column: 9/11;
}
.child-16{
    grid-column: 11/13;
}
/* box no 1 end */

/* box no 2 start */




.teacher{
    margin-top: 70px;
 display: grid;
 background-color: white;
 gap: 15px;   
 grid-template-rows: repeat(12,1fr);
 grid-template-columns: repeat(6,1fr);


}
.students{
    background-color:yellowgreen;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
}
.box-1{
    grid-row: 1/13;

}
.box-2{
    grid-row: 1/6;
}
.box-3{
    grid-row: 6/13;
}
.box-4{
    grid-row: 1/4;
}
.box-5{
    grid-row: 4/8;
}
.box-6{
    grid-row: 8/13;
}
.box-7{
    grid-row: 1/3;
}
.box-8{
    grid-row: 3/6;
}
.box-9{
    grid-row: 6/9;
}
.box-10{
    grid-row: 9/13;
} 
.box-11{
    grid-row: 1/3;}

.box-12{
    grid-row: 3/5;
    

}
.box-13{
    grid-row: 5/7;
} 
 .box-14{
   grid-row:7/9 ;
}
.box-15{
    grid-row: 9/11;
}
.box-16{
    grid-row: 11/13;
}  
/* box 2 styling end */
 